.header {
    background-color: indianred;
    display: flex;
    height: 85px;
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: nowrap;
}

.header ul {
    align-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0%;
    margin-top: 0%;
    margin-left: 52%;
    padding: 0%;
    position: fixed;
    text-align: center;
    height: 12%;
    width: 50%;
}

.header ul li {
    display: flex;
    position: relative;
    margin: 6%;
    padding: 0%;
    width: 30%;
    height: 30%;
    cursor: pointer;
}

.header ul li a {
    color: floralwhite;
}

.img-container img {
    width: 65px;
    margin: 10px;
    cursor: pointer;
}