.object1{grid-area: header;}
.object2{grid-area: menu;}
.object3{grid-area: main;}
.object4{grid-area: right;}
.object5{grid-area: footer;}

.box-container {
display: grid;
grid-template-areas: 
'header header header header header header'
'menu main main main right right'
'menu footer footer footer footer footer';
gap: 10px;
background-color: darkkhaki;
padding: 10px;
}

.box-container> div {
    background-color: cadetblue;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}