body{
    color:red;
    background-color: burlywood;
}
div{
border: 5px solid black;
padding:10px;
background-color: darkkhaki;
}
h1{
text-align:center;
text-transform:uppercase;
color: green;
background-color:darkgray;
text-shadow: 2px 2px 5px red
}
p{
text-indent:50px;
text-align:justify;
letter-spacing:5px;
background-color: cadetblue;
}
